* {
    accent: #787A80;
    background: #130B0E;
    background-light: #1F1B1D;
    background-focus: #5A323E;
    foreground: #453E43;
    foreground-list: #453E43;
    on: #2e7d32;
    off: #d32f2f;
}

