* {
    accent: #FED4BA;
    background: #1B2233;
    background-light: #34334A;
    background-focus: #5B3B51;
    foreground: #644159;
    foreground-list: #644159;
    on: #2e7d32;
    off: #d32f2f;
}

