* {
    accent: #B3A496;
    background: #303A3B;
    background-light: #60645F;
    background-focus: #824E36;
    foreground: #8D745F;
    foreground-list: #8D745F;
    on: #2e7d32;
    off: #d32f2f;
}

